<form name="messageForm" onsubmit="return sendMessage()" required>
  <fieldset>
    <div class="row"> 
      <legend>Message center</legend>
      <label>Email</label>
      <input name="author" class="form-control" type="email" id="author" placeholder="example: iocevelasco@gmail">
      <label>Message</label>
      <textarea name="text" class="form-control" id="text" placeholder="Add a message" rows="3"></textarea>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-large btn-primary">Submit</button>
    </div>
  </fieldset>
</form>