<form name="productForm" onsubmit="return sendProducts()" required>
  <fieldset>
      <div class="row"> 
        <legend>Add new product</legend>
        <label>Name</label>
        <input name="name"  class="form-control" type="text" id="name" >
        <label>Price</label>
        <input name="price" class="form-control" type="number" id="price" >
        <label>Photo URL</label>
        <input name="url" class="form-control" type="text" id="url">
      </div>
      <div class="row">
        <button type="submit" class="btn btn-large btn-primary">Submit</button>
      </div>
    </fieldset>
</form>